@font-face {
  font-family: 'BrandonTextWeb-Regular';
  src: url('../fonts/brandon_text_regular/BrandonText-Regular.ttf');
}

@font-face {
  font-family: 'BrandonTextWeb-Thin';
  src: url('../fonts/brandon_text_thin/BrandonText-Thin.ttf');
}

@font-face {
  font-family: 'BrandonTextWeb-Bold';
  src: url('../fonts/brandon_text_bold/BrandonText-Bold.ttf');
}

@font-face {
  font-family: 'BrandonTextWeb-Light';
  src: url('../fonts/brandon_text_light/BrandonText-Light.ttf');
}

@font-face {
  font-family: 'BrandonTextWeb-Regular-Italic';
  src: url('../fonts/brandon_text_regular_italic/BrandonText-RegularItalic.ttf');
}
