// font family variables
$body-font: "BrandonTextWeb-Regular", "Helvetica Neue", Helvetica, Roboto, Arial,
  sans-serif;
$thin-font: "BrandonTextWeb-Thin", "Helvetica Neue", Helvetica, Roboto, Arial,
  sans-serif;
$bold-font: "BrandonTextWeb-Bold", "Helvetica Neue", Helvetica, Roboto, Arial,
  sans-serif;
$italic-font: "BrandonTextWeb-Regular-Italic", "Helvetica Neue", Helvetica,
  Roboto, Arial, sans-serif;
$light-font: "BrandonTextWeb-Light", "Helvetica Neue", Helvetica, Roboto, Arial,
  sans-serif;
